@import 'reuse';

header {
    height: 100px;
    background-color: papayawhip
}

section {
    height: 400px;
}

footer {
    margin-left: 200px;
    height: 100px;
    background-color: papayawhip;
}